.container{
    padding: 2% 25%;
    margin-top: 120px;
}

h3{
    font-size: 20px;
    font-family: cursive; 
}

p{
    font-size: 10pt;
    font-family: cursive;
}

#screen2{
    text-align: right;
}

#bt{
    padding-right: 70%;
}

.div1{
    margin-top: 20px;
    text-align: center;
}

#div2{
    border: solid 2px green;
    padding: 5% 10%;
    background-color: salmon;
    border-radius: 5%;
}